.miniNew {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miniNew .img {
  padding: 0px 7px;
}

.miniNew .img img{
  border-radius: 5px;
  object-fit: cover;
  height: 350px;
  margin: 0 auto;
}

.miniNew p {
  padding: 10px 7px 0;
  font-family: semiFont;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

@media (max-width: 750px) {
  .miniNew p {
    -webkit-line-clamp: 6;
  }
}