@import url('./fonts.css');

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  font-family: generalFont;
  font-size: 1rem;
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  font-family: headerFont;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}
.title {
  text-align: center;
  text-transform: uppercase;
  margin: 4rem 0 1.2rem;
}

.black-title {
  font-family: headerFont;
  color: #000;
}

.black-semi {
  font-family: semiFont;
  color: #000;
}

.black-text {
  font-family: generalFont;
  color: #000;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
.link {
  color: white;
  display: inline-block;
  text-decoration: none;
}
.section {
  margin: 1rem 0 4rem;
}
.svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  mix-blend-mode: normal;
}
.hidden {
  display: none;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.sliderVideo {
  width: 100%;
}
.sliderVideo video {
  display: inline-block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.staff {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.staff-item {
  width: 33.3333%;
  margin-bottom: 4rem;
}

.docs-title {
  margin: 1.5rem 0 1rem;
}
.docs-text {
  font-size: 1rem;
  line-height: 2rem;
}
.docs-text a:hover {
  opacity: 0.5;
}
.docs-ul li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.docs-ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.docs-ul li a:hover {
  opacity: 0.5;
}
.docs-ul li img {
  width: 30px;
  height: 30px;
  margin-right: 0.3rem;
}

.parkCards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

@media (max-width: 1220px) {
  .sliderVideo video {
    height: auto;
  }
}
@media (max-width: 1000px) {
  .staff-item {
    width: 50%;
  }
  .parkCards {
    
  }
}
@media (max-width: 750px) {
  .staff-item {
    width: 100%;
  }
}