.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.blockCheckbox {
  margin-bottom: 1rem;
}

.small {
  font-size: 0.8rem;
  color: grey;
  margin-top: 5px;
}

.select {
  max-width: 200px;
  height: 30px;
  margin-top: 5px;
}
.input {
  height: 30px;
  margin-top: 5px;
}
.inputL {
  width: 300px;
}
.inputM {
  width: 200px;
}
.inputS {
  width: 150px;
}
.inputVS {
  width: 120px;
}
.disabled {
  opacity: 0.6;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border: 1px solid #fff;
  padding: 7px 15px;
  font-size: 1rem;
  font-family: generalFont;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  background: linear-gradient(to bottom left, #2C6F5C, #378b73);
  transition: all 0.2s;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  transform: scale(0.99);
}