.staffItem {
  display: inline-block;
  text-align: center;
}

.staffImg {
  width: 270px;
  height: 270px;
  margin: 0 auto 1rem;
}

.staffImg img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fullName {
  font-family: semiFont;
  font-size: 1.2rem;
}