.staffItem {
  display: inline-block;
  text-align: center;
}

.staffImg {
  max-width: 270px;
  max-height: 270px;
  margin: 0 auto 1rem;
}

.staffImg img {
  border-radius: 50%;
}
.fullName {
  font-family: semiFont;
  font-size: 1.2rem;
}