.miniEvent {
  display: flex;
  margin-bottom: 30px;
}
.img {
  width: 35%;
}
.img img {
  border-radius: 5px;
  object-fit: cover;
  height: 350px;
  margin: 0 auto;
}
.about {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.about h3 {
  padding: 0 0 20px;
  font-size: 20px;
}
.about p {
  line-height: 1.6em;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical; 
}
.date {
  margin-top: auto;
  color: gray;
}
@media (max-width: 1130px) {
  .about p {
    -webkit-line-clamp: 8;
  }
}
@media (max-width: 970px) {
  .about p {
    -webkit-line-clamp: 10;
  }
  .img {
    width: 45%;
  }
  .about {
    width: 55%;
  }
}

@media (max-width: 765px) {
  .miniEvent {
    flex-direction: column-reverse;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #ccc;
  }
  .img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .about {
    width: 100%;
  }
  .about h5 {
    margin-top: 1rem;
  }
  .about p {
    -webkit-line-clamp: 6;
  }
  .date {
    margin: 1rem 0;
    /* text-align: end; */
  }
}
